body{
    margin: 0;
    background-color: #4ac2e8;
    padding-top: 50px;
    padding-bottom: 90px;
}
#header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #4ac2e8;
    text-align: center;
}
#header button{
    border: 0;
    margin: 5px;
    margin-top: 10px;
    background-color: #4ac2e8;
    transform: scale(0.8);
}
#header button#left{
    float: left;
    background-image: url(07-css.png);
    background-position: -10px -320px;
    width: 30px;
    height: 31px;
}
#header button#right{
    float: right;
    background-image: url(07-css.png);
    background-position: -10px -170px;
    width: 30px;
    height: 30px;
}
#header span{
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 2px;
}
nav section#top{
    height: 50px;
    background: #bae8f6;
}
nav section#top span{
    line-height: 50px;
    padding-left: 30px;
    font-size: 14px;
}
nav section#top a audio{
    position: fixed;/*本体的audio是个播放器，占用了空间。所以给定固定*/
    opacity: 0;
}
nav section#top a{
    float: right;
    border: 0;
    background: #bae8f6;
    margin: 10px;
    background-image: url(07-css.png);
    background-position: -10px -220px;
    width: 30px;
    height: 30px;
}
nav section#bottom{
    height: 28px;
    background: #4ac2e8;
    color: #fff;
    background-image: url(07-css.png);
    background-position: -10px -10px;
    background-repeat: no-repeat;
    background-position-x: 30px;
}   
nav section#bottom span{
    padding-left: 40px;
    font-size: 13px;
    line-height: 40px; 
}
#main{
    height: 100%;
    background: #4ac2e8;
}
.table{
    width: 100%;
    height: 30vw;
    padding-top: 10px;
}
.table .section{
    float: left;
    width: calc(100% / 3 - 24px);
    height: 25vw;
    margin: 10px;
    border: 2px solid #fff;
}
.table .section .big{
    height: 70%;
    background: #ffad00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 5vw;
}
.table .section .small{
    height: 30%;
    background: #9eaa53;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
}
.table .section ul{
    padding: 0;
    margin: 0 auto;
    list-style: none; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.table .section ul a{
    display:none;
}
.table .section ul img{
    width: 4vw;
}
.table .section:hover a{
    display: block;
    padding-top: 1vw;
    text-align: center;
    width: 20%;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background: #4ac2e8;
    padding-top: 10px;
}
footer button{
    width: 90%;
    height: 90%;
    background: #fdab35;
    border:0;
    color: #fff;
    font-size: 20px;
}