body{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}
#header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #4ac2e8;
    text-align: center;
}
#header button{
    border: 0;
    margin: 5px;
    margin-top: 10px;
    background-color: #4ac2e8;
    transform: scale(0.8);
}
#header button#left{
    float: left;
    background-image: url(07-css.png);
    background-position: -10px -320px;
    width: 30px;
    height: 31px;
}
#header button#right{
    float: right;
    background-image: url(07-css.png);
    background-position: -10px -170px;
    width: 30px;
    height: 30px;
}
#header span{
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 2px;
}
nav section#top{
    height: 50px;
    background: #bae8f6;
}
nav section#top span{
    line-height: 50px;
    padding-left: 30px;
    font-size: 14px;
}
nav section#top a audio{
    position: fixed;/*本体的audio是个播放器，占用了空间。所以给定固定*/
    opacity: 0;
}
nav section#top a{
    float: right;
    border: 0;
    background: #bae8f6;
    margin: 10px;
    background-image: url(07-css.png);
    background-position: -10px -220px;
    width: 30px;
    height: 30px;
}
nav section#bottom{
    height: 28px;
    background: #4ac2e8;
    color: #fff;
    background-image: url(07-css.png);
    background-position: -10px -10px;
    background-repeat: no-repeat;
    background-position-x: 30px;
}   
nav section#bottom span{
    padding-left: 40px;
    font-size: 13px;
    line-height: 40px; 
}
#main{
    width: 100%;
    padding-top: 10px;
    background-color: #4ac2e8;  
}
#main .one{
    height: 120px;
    display: inline-block;
    width:calc(100% /3 - 4px);
}
#main .one section{
    height: 70px;
    border: 2px solid #fff;
    margin: 10px 10px 0 10px; 
}
#main .one .big{
    height: 70%;
    background-color: #fec777;
    text-align: center;
    line-height: 50px;
    font-size: 19px;
}
#main .one .small{
    height: 30%;
    background-color: #a09908;
    color: #eee;
    text-align: center;
}
#main .one .row{
   display: none;
}
#main .one img{
    transform: scale(0.8);
    margin: 0 auto;
    display: flex;
}
#main .one:hover .row{
    display: block;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background: #4ac2e8;
}
footer button{
    width: 90%;
    height: 90%;
    background: #fdab35;
    border:0;
    color: #fff;
    font-size: 20px;
}