header , .list , #main article , #main .xxx , footer #final , footer #bottom{
    width: 70%;
    margin: 0 auto;
}
header{
    height: 30px;
}
header span{
    line-height: 30px;
    color: #24ac7f;
}
header ul {
    float: right;
    list-style: none;
    margin: 0;
}
header ul li{
    float: left;
    display: flex;
}
header ul a{
    width: 30px;
    height: 30px;
    background-image: url(img/css08-01.png);
    background-repeat: no-repeat;
    margin: 0 5px;
}
header ul #one{
    background-position: -10px -87px;
}
header ul #two{
    background-position: -10px -135px;
}
header ul #three{
    background-position: -9px -41px;
}
nav{
    width: 100%;
    background-color: #259e52;
}
nav ul{
    height: 100%;
    padding: 0;
    padding-top: 7px;
    list-style: none;
}
nav ul a{
    color: #fff;
}
nav ul li{
    display: block;
    text-align: center;
    width: 60px;
    margin: 0 auto;
}
nav ul a:hover{
    color: #fff;
    text-decoration: none;
}
nav ul li:first-child{
    border-bottom: 3px solid #fff;
}
nav ul li{
    padding: 15px; 
}
#myCarousel .carousel-inner img{
    width: 100%;
    height: 80%;
}
#main{
    width: 100%;
    padding-top: 20px;
    background-color: #fafafa;
}
#main article{
    padding-top: 80px;
}
#main article .col-md-3{
    padding-bottom: 20px;
    color: #aaa;
}
#main article .p-right{
    padding:0 25px;
}
#main article .col-md-3 p{
    background-image: url(img/css08-01.png);
    width: 43px;
    height: 62px;
    margin: 0 auto;
}
#main article #first{
    background-position: -10px -383px;  
}
#main article #second{
    background-position: -10px -234px;
}
#main article #thrid{
    width:55px;
    background-position: -10px -304px;
}
#main article #fourth{
    display: block;
    float: left;
    width: 16px;
    height: 17px;
    background-position: -10px -10px;
    margin: 0;
    padding-left: 20px;
    color: #24ac7f;
    line-height: 15px;
}
#main article .col-md-3 b{
    display: block;
    text-align: center;
    margin: 20px 0;
    color: black;
}
#main article .col-md-3 .edit{
    display: flex;
    justify-content: center;
}
#main article #blockquote{
    float:left;
    border-left: 1px dotted #aaa;
    padding-bottom:150px;  /*关键*/
	margin-bottom:-150px;  /*关键*/
   
}
#main article .col-md-3 #num{
    margin-top: 30px;
    padding-left: calc((100% - 70px)/2 );
    line-height: 15px;
}
#main article .col-md-3 #num span{
    color: #24ac7f;
}
#main article .col-md-3 #num .text{
    padding-top: 20px;
    width: 160px;
    margin: 0;
}
.block{
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    padding-top: 20px;
}
#main article .line{
    margin-bottom: 30px;
}
#main article .point{
    padding: 0;
    display: block;
    height: 80px;
}
#main article .col-md-3 .number{
    float: left;
    background-image: url(img/css08-01.png);
    background-position: -10px -461px;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.7);
    color: #259e52;
    font-size: 20px;
}
#main article .point span{
    display:block;
    padding-top: 20px;
    font-size: 12px;
    color: #aaa;
}
#main article .point a{
    float: left;
    width: 50px;
    height: 30px;
    margin-top: 20px;
    background-image: url(img/css08-01.png);
    background-position: -5px -183px;
    background-repeat: no-repeat;
}
#main article #line{
    margin-top: 30px;
}
#main article .jpg .wire{
    box-shadow: 2px 2px #f4f4f4;
}
#main article .jpg{
    background-color: #fff;
    background-clip: content-box;
}
#main article .jpg img{
    width: 90px;
    height: 80px;
    margin: 0 calc((100% - 100px)/2);   
}
#main article .jpg span{
    display: flex;
    justify-content: center;
    padding: 0 20px;
    padding-bottom: 30px; 
}
#main article #round{
    text-align: center;
    margin-bottom: 30px;
}
#main article #round a{
    font-size: 20px;
    color: #fff;
}
#main article #round a:first-child{
    color: #24ac7f;
}
#main .picture{
    padding-bottom: 80px;
}
#main .picture .png{
    background-color: #fff;
    width:205px;   
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    margin-top: 20px;
}
#main .picture .png:hover{
    z-index: 1;
    box-shadow:2px 2px 10px #909090;
}
footer .last{
    margin: 20px 0;
}
footer .col-xs-1{
    padding: 0;
    margin-right: 16px;
    color: #aaa;
}
footer li:hover{
    color: #aaa;
   text-decoration: underline solid #24ac7f;
}
footer #finish{
    background-color: #37975e;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
}
footer #finish #bottom{
    margin-top: 40px;
    height: 100%;
}
footer #finish #bottom .iron{
    margin: 20px 0;
}
footer #finish #bottom .iron span{
    margin-right: 20px;
    padding-bottom: 5px;
}
footer #finish #bottom .iron span:hover{
    border-bottom: 1px solid #fff;
}
footer #finish #bottom .col-md-3{
    margin-right:40px;
} 
footer #finish #bottom .col-md-3 p:first-child{
    margin-bottom: 60px;
}
footer #finish #bottom .col-md-7{
    margin-right: -40px;
}
footer #finish #bottom .col-md-2 img{
    width: 80px;
    height: 80px;
}
footer #finish #end{
    text-align: center;
    font-size: 11px; 
    padding-top: 5px;
    border-top: 1px solid #65ae66; 
}


#toggle-check:checked ~div{
    display: block !important;
}
#toggle-label{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 13px;
    font-weight: normal;
    color: #24ac7f;
    display: none;
}