body {
  margin: 0;
  padding-bottom: 50px;
}

p {
  margin: 0;
}

hr {
  margin: 0;
  background-color: #a6a6a6;
}

.nav {
  height: 45px;
  width: 100%;
  background: #19c0cd;
}

.nav #back {
  content: "";
  position: absolute;
  top: 15px;
  left: 8px;
  border-top: 8px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 8px solid transparent;
}

.nav #back::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 4px;
  border-top: 8px solid transparent;
  border-right: 10px solid #19c0cd;
  border-bottom: 8px solid transparent;
}

.nav p {
  text-align: center;
  line-height: 50px;
  font-weight: 800;
  color: #fff;
}

.summary #bground {
  background: url(img/背景.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  filter: blur(2px);
}

.summary .photo {
  position: absolute;
  top: 45px;
  width: 100%;
  height: 154px;
  background: rgba(0, 0, 0, 0.2);
}

.summary .photo img {
  padding: 50px 0 0 10px;
  width: 75px;
  height: 70px;
  float: left;
}

.summary .text {
  padding: 60px 0 0 100px;
}

.summary .text p {
  color: #fff;
  margin-top: 5px;
}

.summary .text p:last-child {
  font-size: 13px;
}

.summary .text img {
  padding: 0;
  width: 10px;
  height: 15px;
  padding-right: 10px;
}
#main,
#main #sentence{
  border-bottom: 1px solid #d8d8d8;
}
#main #sentence{
  padding:10px 0;
  padding-left: 10px;
}
#main #sentence::before{
  width: 2px;
  height: 13px;
  content: "";
  background-color: #19c0cd;
  display: inline-block;
  margin-right: 10px;
}
#main ul{
  padding: 0;
  margin: 0;
  padding-left: 10px;
  list-style: none;
}
#main .item{
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid #d8d8d8;
}
#main .item li{
  display: inline-block;
  color: #000;
  padding-right: 10px;
}
#main .item .title{
  color: #a6a6a6;
}
#main .item .title::after{
  content: "";
  width: 1px;
  height: 13px;
  background-color: #d8d8d8;
  display: inline-block;
  margin-left: 12px;
}
#main .part{
  padding-left: 10px;
}
#main .part .title{
  padding-right: 5px;
  color: #000;
}
#main .part img{
  float: left;
  transform: scale(0.6);
}
#main .item #red{
  color: #e42121;
}
#main .last-item{
  border: none;
  display: flex;
  align-items: center;
}
#main .last-item .title{
  flex: none;
}
#main .last-item #small{
  font-size: 13px;
}

.end {
  padding-left: 10px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 50px;
  background: #fff;
}

button {
  font-size: 17px;
  text-align: center;
  float: left;
  width: calc(50% - 15px);
  height: 40px;
  border-radius: 5px;
  margin: 5px 10px 5px 0;
}

.bottom1 button {
  border: 2px solid #19c0cd;
  background: #fff;
  color: #19c0cd;
}

.bottom2 button {
  border: 2px solid #19c0cd;
  background: #19c0cd;
  color: #fff;
}
