$zero:0;
$max:100%;
$white:#fff;
$middle:center;
body {
  margin: $zero;
  padding-bottom: 60px;
  padding-top: 40px;
}
p {
  margin: $zero;
}
header {
  background: #19c0cd;
  text-align: $middle;
  width: calc(100% - 40px);
  height: 40px;
  position: fixed;
  top: 0px;
  .input {
    height: 40px;
    background: #19c0cd;
    width: $max;
    position: fixed;
    .in {
      background: #159ca7;
      display: inline;
      float: left;
      width: 40%;
      height: 30px;
      margin-top: 5px;
      text-align: $middle;
      margin-left: 30%;
      border-radius: 5px;
    }
    .picture {
      float: right;
      background: url(img/06-css.png);
      background-position: -10px -220px;
      height: 35px;
      width: 35px;
      transform: scale(0.7);
      margin-right: 10px;
      padding-top: 10px;
    }
  }
  .in {
    button {
      border-radius: 5px;
      float: left;
      background: #159ca7;
      border: 1px solid #159ca7;
      height: $max;
      width: 50%;
      color: $white;
      &:last-child {
        background: $white;
        color: #159ca7;
        border: 1px solid $white;
      }
    }
  }
}
.container {
  width: $max;
  height: 35px;
  position: fixed;
  .contain {
    display: inline-block;
    width: calc(100% / 3 - 1px);
    height: $max;
    float: left;
  }
  .vertical {
    display: inline-block;
    content: "";
    width: 1px;
    height: 18px;
    margin-top: 5px;
    float: left;
    background: #dbd3d3;
  }
  .row {
    width: $max;
    margin: $zero;
    height: 1px;
    background: #eee;
  }
}
.contain {
  label {
    background-color: $white;
    display: flex;
    width: $max;
    height: $max;
    justify-content: $middle;
    align-items: $middle;
    color: #9d9898;
    position: relative;
    &:hover {
      color: #000;
      cursor: pointer;
    }
  }
  .dick {
    content: "";
    display: flex;
    position: absolute;
    right: 5px;
    top: 15px;
    border-top: 4px solid #9d9898;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  ul {
    display: none;
    width: inherit;
    margin: $zero;
    list-style: none;
    padding: $zero;
    text-align: $middle;
    background-color: $white;
    box-shadow: 1px 2px 13px #dbd3d3;
    border-radius: 3px;
    position: absolute;
    li {
      padding: 10px $zero;
    }
  }
  li {
    a {
      width: $max;
      display: block;
      color: #000;
      text-decoration: none;
    }
    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }
  .btn {
    display: none;
  }
}
#btn-one:checked ~ ul,
#btn-two:checked ~ ul,
#btn-three:checked ~ ul {
  display: block !important;
}
.main {
  padding-top: 35px;
  ul {
    margin: $zero;
    list-style: none;
    padding: 11px $zero;
    padding-left: 10px;
    border: 1px solid #eee;
  }
  li {
    font-size: 13px;
    background-image: url(img/06-css.png);
    background-repeat: no-repeat;
    padding-left: 25px;
    color: #a09f9f;
  }
  .a {
    background-position: -10px -10px;
  }
  .b {
    background-position: -10px -45px;
  }
  .c {
    padding-right: 10px;
    height: 20px;
    background-position: -10px -80px;
  }
  .in {
    display: flex;
    padding-left: 25px;
    line-height: 25px;
    height: 25px;
    justify-content: space-between;
  }
  span {
    font-size: 14px;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  a {
    min-width: 80px;
    color: #d62121;
    text-decoration: none;
    &:hover {
      color: #d62121;
      text-decoration: none;
    }
  }
}
footer {
  width: $max;
  height: 67px;
  border: 1px solid #f7f7f7;
  background: #f7f7f7;
  bottom: 0px;
  position: fixed;
  text-align: $middle;
  ul {
    display: inline-block;
    padding: $zero;
    margin: 5px $zero;
    list-style: none;
  }
  button {
    border: 0px;
    background: #f7f7f7;
    font-size: 12px;
    color: #44a5a5;
  }
  .yy {
    margin: $zero 10%;
  }
  .x {
    width: 35px;
    height: 30px;
    transform: scale(0.7);
    background-image: url(img/06-css.png);
    background-repeat: no-repeat;
    background-position: -10px -120px;
  }
  .y {
    width: 52px;
    height: 50px;
    margin-top: 5px;
    background-image: url(img/06-css.png);
    background-repeat: no-repeat;
    background-position: -10px -275px;
  }
  .z {
    width: 35px;
    height: 30px;
    transform: scale(0.7);
    background-image: url(img/06-css.png);
    background-repeat: no-repeat;
    background-position: -10px -170px;
  }
}
footer button a,
footer button a:hover {
  text-decoration: none;
  color: #44a5a5;
}
