$max:100%;
$white:#fff;
$zero:0;
body {
  margin: $zero;
  padding-bottom: 50px;
}
p {
  margin: $zero;
}
hr {
  margin: $zero;
  background-color: #a6a6a6;
}
.nav {
  height: 45px;
  width: $max;
  background: #19c0cd;
  #back {
    content: "";
    position: absolute;
    top: 15px;
    left: 8px;
    border-top: 8px solid transparent;
    border-right: 10px solid $white;
    border-bottom: 8px solid transparent;
    &::after {
      content: "";
      position: absolute;
      top: -8px;
      left: 4px;
      border-top: 8px solid transparent;
      border-right: 10px solid #19c0cd;
      border-bottom: 8px solid transparent;
    }
  }
  p {
    text-align: center;
    line-height: 50px;
    font-weight: 800;
    color: $white;
  }
}
.summary {
  #bground {
    background: url(img/背景.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    filter: blur(2px);
  }
  .photo {
    position: absolute;
    top: 45px;
    width: $max;
    height: 154px;
    background: rgba(0, 0, 0, 0.2);
    img {
      padding: 50px $zero $zero 10px;
      width: 75px;
      height: 70px;
      float: left;
    }
  }
  .text {
    padding: 60px $zero $zero 100px;
    p {
      color: $white;
      margin-top: 5px;
      &:last-child {
        font-size: 13px;
      }
    }
    img {
      padding: $zero;
      width: 10px;
      height: 15px;
      padding-right: 10px;
    }
  }
}
#main,
#main #sentence {
  border-bottom: 1px solid #d8d8d8;
}
#main {
  #sentence {
    padding: 10px $zero;
    padding-left: 10px;
    &::before {
      width: 2px;
      height: 13px;
      content: "";
      background-color: #19c0cd;
      display: inline-block;
      margin-right: 10px;
    }
  }
  ul {
    padding: $zero;
    margin: $zero;
    padding-left: 10px;
    list-style: none;
  }
  .item {
    padding: 10px $zero 10px 15px;
    border-bottom: 1px solid #d8d8d8;
    li {
      display: inline-block;
      color: #000;
      padding-right: 10px;
    }
    .title {
      color: #a6a6a6;
      &::after {
        content: "";
        width: 1px;
        height: 13px;
        background-color: #d8d8d8;
        display: inline-block;
        margin-left: 12px;
      }
    }
    #red {
      color: #e42121;
    }
  }
  .part {
    padding-left: 10px;
    .title {
      padding-right: 5px;
      color: #000;
    }
    img {
      float: left;
      transform: scale(0.6);
    }
  }
  .last-item {
    border: none;
    display: flex;
    align-items: center;
    .title {
      flex: none;
    }
    #small {
      font-size: 13px;
    }
  }
}
.end {
  padding-left: 10px;
  position: fixed;
  width: $max;
  bottom: 0px;
  height: 50px;
  background: $white;
  button {
    font-size: 17px;
    text-align: center;
    float: left;
    width: calc(50% - 15px);
    height: 40px;
    border-radius: 5px;
    margin: 5px 10px 5px $zero;
  }
  #button-one {
    border: 2px solid #19c0cd;
    background: $white;
    color: #19c0cd;
  }
  #button-two {
    border: 2px solid #19c0cd;
    background: #19c0cd;
    color: $white;
  }
}
