$zero:0;
$white:#fff;
$ten:10px;
body {
    margin: $zero;
    padding-bottom: $ten*5;
  }
  p {
    margin: $zero;
  }
  .hr {
    hr {
      width: 95%;
    }
  }
  .nav {
    height: $ten*5;
    width: 100%;
    background: #19c0cd;
    position: fixed;
    a {
      display: inline-block;
      font-size: $ten*2;
      float: left;
      padding-left: $ten;
      line-height: $ten*5;
      text-decoration: none;
      color: $white;
    }
    p {
      text-align: center;
      line-height: $ten*5;
      font-weight: 800;
      color: $white;
    }
  }
  .summary {
    background: url(img/背景.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: $ten*20;
    .photo {
      height: $ten*20;
      background: rgba(0, 0, 0, 0.3);
      img {
        padding: 80px $zero $zero $ten;
        width: $ten*10;
        height: $ten*10;
        float: left;
      }
    }
    .text {
      padding: $ten*10 $zero $zero 140px;
      p {
        color: $white;
        margin-top: 5px;
      }
      img {
        padding: $zero;
        width: $ten;
        height: 15px;
        padding-right: $ten;
      }
    }
  }
  .main {
    .p1 {
      p {
        padding: $ten*2;
        &::before {
          content: "";
          margin-right: $ten;
          display: inline-block;
          width: 3px;
          height: 15px;
          background: #19c0cd;
          vertical-align: middle;
        }
      }
    }
    .item {
      img {
        width: $ten*2;
        height: $ten*2;
        float: left;
        padding-right: 5px;
      }
      p {
        padding: $ten $zero;
        margin-left: $ten*2;
        display: inline-block;
      }
    }
    .p2 {
      padding: $ten;
      a {
        color: #a8a5a5;
        float: left;
        text-decoration: none;
        margin-left: $ten;
        &::after {
          margin: $zero $ten;
          content: "";
          width: 2px;
          height: $ten*2;
          vertical-align: middle;
          background: #989696;
          display: inline-block;
        }
      }
    }
    .red {
      p {
        color: red;
      }
    }
    .suo {
      display: flex;
      align-items: center;
      a {
        flex: none;
      }
    }
  }
  .end {
    padding-left: $ten;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: $ten*5;
    background: $white;
  }
  button {
    font-size: 17px;
    text-align: center;
    float: left;
    width: calc(50% - 15px);
    height: $ten*4;
    border-radius: 5px;
    margin: 5px $ten 5px $zero;
  }
  .bottom1 {
    button {
      border: 2px solid #19c0cd;
      background: $white;
      color: #19c0cd;
    }
  }
  .bottom2 {
    button {
      border: 2px solid #19c0cd;
      background: #19c0cd;
      color: $white;
    }
  }
  