body{
    margin: 0;
    padding-bottom: 50px;
    padding-top: 70px;
}
p{
    margin: 0;
}
header{
    background: #19c0cd;
    text-align: center;
    width: calc(100% - 40px);
    height: 40px;
    position: fixed;
    top: 0px;
}
header .input{
    height: 40px;
    background: #19c0cd;
    width: 100%;
    position: fixed;
}
header .input .in{
    background: #159ca7;
    display: inline;
    float: left;
    width: 40%;
    height:30px; 
    margin-top: 5px;
    text-align: center;
    margin-left: 30%;
    border-radius: 5px;
}
header .input .in button{
    border-radius: 5px;
    float: left;
    background: #159ca7;
    border: 1px solid #159ca7;
    height:100%;
    width: 50%;
    color: #fff;
}
header .input .in button:last-child{
    background: #fff;
    color: #159ca7;
    border: 1px solid #fff;
}
header .input .picture{
    float: right;
}
header .input .picture img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding-top: 10px;
    margin-right: 20px;
}
.middle .nav{ 
    position: fixed;
    width: 100%;
    top: 40px;
    height: 30px;
}
.middle .nav .in{
    width: calc(100% / 3);
    float: left;
}
.middle .nav .in select{  
    padding-left:calc(100% / 3 - 8px);
    margin: auto;
    width: 100%;
    height: 30px;
    border: 1px solid #eee;
    color: #bfbfbf;
}
.middle .main .item{
    border: 1px solid #eee;
    height: 70px;
    padding: 5px 0;
    padding-left: 10px;
}
.middle .main .item span{
    height: 10px;
    text-align: center;
}
.middle .main .item span img{
    width: 10px;
    height: 10px;
}
.middle .main .item span p{   
    display: inline;
    color: #bfbfbf;
    font-size: 12px;
}
.middle .main .item .text p{
    display: inline;
    height: 15px;
    margin: 5px 0;
    padding-left: 15px;
    font-size: 13px;
    vertical-align: middle;
}
.middle .main .item .text .right{
    float: right;
}
.middle .main .item .text .right span{
    color: red;
    font-size: 15px;
    vertical-align: middle;
    padding-right:5px; 
}
.middle .main .item .text .right img{
    width: 10px;
    height: 15px;
    vertical-align: middle;
    padding-right:10px; 
}
footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    background: #f7f7f7;
    padding: 0 20%;
}
footer .center img{
    width: 45px;
    height: 45px;
}
footer .last{
    text-align: center;
}
footer .last .item{
    width: calc(60% / 3);
    margin: auto;
    float: left;
    font-size: 10px;
}
footer .last .float img{
    padding-top: 10px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}